.welcome {
	container-type: inline-size;

	>div {
		font-size: 1.3rem;
		font-weight: var(--fw-l);
		color: var(--clr-a-100);
		margin-bottom: 1.5rem;
	}

	h1 {
		margin-bottom: 2rem;
	}
}

.social {
	margin-inline: auto;
	margin-top: 2rem;

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		gap: 1.5625rem;
		list-style: none;

		li {
			position: relative;

      span {
        position: relative;
      }

			a {
				display: block;
			}

			svg {
				width: 100%;
				width: 19px;
				height: 19px;
				fill: var(--clr-n-400);
			}
		}

		button {
			color: var(--clr-n-400);
			cursor: pointer;
			border: 0;
			background-color: transparent;
			position: relative;
			padding: 0;

			svg {
				width: 100%;
				width: 24px;
				height: 24px;
				fill: var(--clr-n-400);
			}
		}
	}
}

@media (min-width: 768px) {

	.social {
		margin-inline: unset;

		ul {
			a {
				transition: all var(--trans-dur);

				svg {
					width: 24px;
					height: 24px;

					transition: fill var(--trans-dur);
				}

				&:hover {
					svg {
						fill: var(--clr-a-100);
					}
				}

				&:focus {
					outline-offset: 10px;
					outline: dashed;
					outline-width: 2px;
					outline-color: var(--clr-a-100);
				}
			}
		}
	}
}
