.cards-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (width >= 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width >= 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  &--live,
  &--demo {
    background-color: var(--green-400);
    color: white;
    text-decoration: none;
    padding: 1.5rem;
    border-radius: 8px;

    .card__content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 100%;

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;

        li {
          &:not(:last-child)::after {
            content: '•';
            margin-left: .5rem;
            color: var(--green-200);
          }
        }
      }
    }
  }
}
