.outer-wrapper {
    display: none;
}

@media(min-width:1200px) {

    .outer-wrapper {
        display: block;
        position: absolute;
        z-index: 1;
        right: -4rem;
        width: 50%;
        aspect-ratio: 1;

        .inner-wrapper {
            width: 100%;
            aspect-ratio: 1;
            overflow: hidden;
            border-radius: 4px;
            opacity: 0.2;
        }

        &::after {
            display: block;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border: solid 1px rgba(#fff, .15);
            top: -20px;
            left: 20px;
            border-radius: 4px;
        }

        img {
            max-width: 100%;
            object-fit: cover;
            object-position: center -140px;
        }
    }

    #about {
        .section-wrapper {
            position: relative;
            z-index: 2;
        }
    }
}