.skills {
    display: flex;
    gap: 2rem;

    span {
        position: relative;

        &::after {
            position: absolute;
            content: '/';
            right: -1rem;
        }

        &:last-of-type {
            &::after {
                display: none;
            }
        }
    }
}