---
import '../styles/global.scss';
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Work from '../components/Work.astro';
import Nav from '../components/Nav.astro';
---

<Layout>
  <main>
    <div class="site-wrapper">
      <Nav />
      <Welcome />
      <About />
      <Skills />
      <Work />
    </div>
  </main>
</Layout>
