---

---

<article id="about" class="about">
  <div class="inner">
    <h2 class="animation animation--scale-in">A Little About Me</h2>
    <div class="about__content about__content--left animation animation--left">
      <p>
        My mum is an artist, and my dad is an engineer. My brain loves working in both of those spaces at the same time. Yep, I love blending left-brain logic with right-brain creativity—front-end development with an eye for artistry.
      </p>
      <p>
        I spent years working in graphic design and studying fine art (yes, even tapestry!) before finally finding my forever home in front-end development.
      </p>
      <p>
        I grew up in a tiny town called Bridgwater in England—it's missing an “e” because the Vikings stole it (really!).
      </p>
      <p>
        Just as I was about to dive into digital design, I ended up managing 13 people in one of the busiest, high-end pubs in London. And I was stinkin' good at it. Oh, and I was also head chef—grilling every steak—while leading that crew under the hottest heat in the business.
      </p>
      <p>
        When I moved to the U.S., I felt right at home. California was a bit too sunny, but the Pacific Northwest? Just right. I met my wife, Jess, and we've been giggling together for 15 years. Our kiddos, pups, and kitty just add to the fun.
      </p>
      <p>
        I've done a lot of interesting work, but now it's time to find a role that truly fits all my skills and passions.
      </p>
    </div>
    <div class="about__content about__content--right animation animation--right">
      <img src="/images/me.jpg" alt="Classy photo of myself pulling a silly face." class="about__image" />
    </div>
  </div>
</article>

<style lang="scss">
  .inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (width >= 768px) {
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
    }

    h2 {
      @media (width >= 768px) {
        grid-column: span 4;
      }
    }

    .about__content {
      display: grid;
      gap: 1rem;
      position: relative;

      &--left {
        z-index: 2;

        @media (width >= 768px) {
          grid-column: 1 / 4;
          grid-row: 2 / 3;
        }
      }

      &--right {
        display: none;

        @media (width >= 768px) {
          display: block;
          grid-column: 3 / -1;
          grid-row: 2 / 3;
          border-radius: 16px;
          outline: 1px solid var(--green-300);
          overflow: hidden;
          aspect-ratio: 1 / 1;
          padding: 1rem;
          z-index: 1;

          img {
            border-radius: 12px;
            opacity: .2;
            width: 100%;
            aspect-ratio: 1 / 1;
          }
        }
      }
    }
  }
</style>
