.standard-card-wrapper {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    padding-top: 30px;
}

.toggle-button {
    border: 0;
    background-color: rgba(#fff, .15);
    padding: 0.75rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--trans-dur);
    color: white;

    &:hover {
        background-color: rgba(#fff, .8);
    }
}