---
import "../styles/cards.scss";
import { Icon } from 'astro-icon/components';
import otherData from '../data/other.json';

interface LiveProject {
  title: string;
  technologies: string[];
  links: {
    linkOne: string;
  };
}

interface OtherData {
  live: LiveProject[];
}

const { live }: OtherData = otherData;
---

<section>
  <h2>Live Projects</h2>
  <div class="cards-wrapper">
    {live.map((project) => (
      <a
        href={project.links.linkOne}
        class="card card--live animation animation--scale-small-in"
        rel="noopener noreferrer"
      >
        <div class="card__content">
          <h4>{project.title}</h4>
          <ul>
            {project.technologies.map((technology) => (
              <li>{technology}</li>
            ))}
          </ul>
          <Icon class="external" name="ph:arrow-square-out-thin" />
        </div>
      </a>
    ))}
  </div>
</section>

<style lang="scss">
  section {
    margin-top: 14rem;
  }

  .external {
    position: absolute;
    right: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .card {
    &:hover {
      .external {
        opacity: 1;
      }
    }
  }
</style>
