.modal {
	background-color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #444;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	margin-top: -50px;
	line-height: 1.5;
	transition: all var(--trans-dur);
	z-index: 300;
	width: min(75rem, 90%);
	max-height: 80%;
	overflow-y: auto;
	border: 0;
	font-size: 1.2rem;
	border-radius: 2rem;
	pointer-events: none;
	opacity: 0;
	padding: 40px;

	&.open {
		margin-top: 0;
		opacity: 1;
		pointer-events: all;
	}

	h2,
	h3,
	h4,
	.skill-header {
		color: var(--clr-n-100);
	}

	header {
		margin-bottom: 5rem;

		h1 {
			color: var(--clr-a-100);
			font-size: 2rem;
			font-weight: 700;
		}

		h2 {
			font-size: 1rem;
			font-weight: 300;
			margin-top: -.9rem;
		}
	}

	ul.connect {
		padding: 0;
		margin: 2rem 0 0 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: .75rem;

		li {
			display: flex;
			margin-bottom: 0.5rem;

			svg {
				margin-right: 0.5rem;
				fill: var(--clr-a-100);
			}

			a {
				text-decoration: none;
				line-height: .8;
				transition: var(--trans-dur);

				&:hover {
					color: var(--clr-a-100);
				}
			}
		}
	}

	section {
		height: unset;
		max-height: unset;
		min-height: unset;
		padding: unset;
		margin-inline: unset;

		p {
			max-width: 70ch;
		}

		+section {
			margin-top: 6rem;
		}

		ul {
			margin-top: 1rem;

			li::marker {
				color: var(--clr-a-100);
			}
		}

		.group {
			margin-top: 1.5rem;

			+.group {
				margin-top: 3rem;
			}
		}

		.skills-wrapper {
			display: grid;
			column-gap: 10rem;
			row-gap: 3rem;
			grid-template-columns: 1fr;
		}
	}

	h3 {
		font-size: 2rem;
		font-weight: 300;
		position: relative;
		margin-bottom: 0.75rem;

		&::before {
			position: absolute;
			content: '';
			left: 0;
			top: -.75rem;
			width: 3rem;
			height: 3px;
			border-radius: 2px;
			background-color: var(--clr-a-100);
		}
	}

	h4 {
		font-size: 1.7rem;
		font-weight: 800;
	}

	h5 {
		font-size: 1rem;
		font-weight: 300;
		color: var(--clr-a-400);
	}

	.date {
		font-size: .8rem;
	}
}

.fade {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, 0.9);
	z-index: 200;
	pointer-events: none;
	opacity: 0;
	transition: opacity var(--trans-dur);

	&.open {
		opacity: 1;
		pointer-events: all;
	}
}

@media (min-width: 1000px) {
	.modal {
		padding: 80px;

		header {
			h1 {
				font-size: 3rem;

				a[download] {
					position: absolute;
					top: 105px;
					right: 40px
				}
			}

			h2 {
				font-size: 2rem;
				margin-top: -1rem;
			}
		}

		section {
			.skills-wrapper {
				grid-template-columns: 1fr 1fr;
			}
		}

		ul.connect {
			flex-direction: row;
			gap: 3rem;
		}
	}
}