.modal {

    .flow>*+* {
        margin-top: 3rem;
        padding-top: 3rem;

    }

    .flow--low>*+* {
        margin-top: 1rem;
        padding-top: 1rem;
    }

    h2,
    h3,
    h4,
    .skill-header {
        color: var(--clr-n-100);
    }

    header {
        h1 {
            color: var(--clr-a-100);
            font-size: 2rem;
            font-weight: 700;
        }

        h2 {
            font-size: 1rem;
            font-weight: 300;
            margin-top: -.9rem;
        }
    }

    ul.connect {
        padding: 0;
        margin: 2rem 0 0 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: .75rem;

        li {
            display: flex;
            margin-bottom: 0.5rem;

            svg {
                margin-right: 0.5rem;
                fill: var(--clr-a-100);
            }

            a {
                text-decoration: none;
                line-height: .8;
                transition: var(--trans-dur);

                &:hover {
                    color: var(--clr-a-100);
                }
            }
        }
    }

    section {
        height: unset;
        max-height: unset;
        min-height: unset;
        padding: unset;
        margin-inline: unset;

        p {
            max-width: 70ch;
        }

        ul {
            margin-top: 2rem;

            li {
                margin-bottom: 2rem;

                &::marker {
                    color: var(--clr-a-100);
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .skills-wrapper {
            display: grid;
            column-gap: 10rem;
            row-gap: 3rem;
            grid-template-columns: 1fr;
        }
    }

    h3 {
        font-size: 2rem;
        font-weight: 300;
        position: relative;
        margin-bottom: 3rem;

        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: -.25rem;
            width: 3rem;
            height: 3px;
            border-radius: 2px;
            background-color: var(--clr-a-100);
        }
    }

    h4 {
        font-size: 1.7rem;
        font-weight: 800;
    }

    h5 {
        font-size: 1rem;
        font-weight: 300;
        color: var(--clr-a-400);
    }

    .date {
        font-size: .8rem;
    }
}

@media (min-width: 1000px) {
    .modal {
        header {
            h1 {
                font-size: 3rem;

                a[download] {
                    position: absolute;
                    top: 105px;
                    right: 40px
                }
            }

            h2 {
                font-size: 2rem;
                margin-top: -1rem;
            }
        }

        section {
            .skills-wrapper {
                grid-template-columns: 1fr 1fr;
            }
        }

        ul.connect {
            flex-direction: row;
            gap: 3rem;
        }
    }
}

.underline {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: rgba(black, .15);
        top: 0;
        left: 0;
    }

    &--wide {
        &::before {
            width: calc(100% + 50px);
            left: -25px;
        }
    }
}

.employment-section {
    section {
        position: relative;

        &.underline::before {
            top: unset;
            bottom: -3rem;
        }
    }
}