.ring-wrapper {
	position: relative;
	width: 530px;
	opacity: 0.2;
}

.ring {
	position: absolute;
	left: 0;

	&--1 {
		top: 0;
		animation: floating 15s infinite ease-in-out;
	}

	&--2 {
		top: 12px;
		animation: floating 16s infinite ease-in-out;
	}

	&--3 {
		top: 24px;
		animation: floating 14s infinite ease-in-out;
	}

	&--4 {
		top: 36px;
		animation: floating 19s infinite ease-in-out;
	}

	&--5 {
		top: 48px;
		animation: floating 18s infinite ease-in-out;
	}
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 12px);
	}
	100% {
		transform: translate(0, -0px);
	}
}
