.grid {
	&.xp {
		gap: 1.5rem;
		align-content: start;
		grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
		padding: 0;
		margin: 0;
		list-style: none;

		.ring-wrapper {
			position: absolute;
			right: 0;
			bottom: 180px;
			transform: translateX(60%);
		}
	}
}

@media (min-width: 768px) {
	.grid {
		&.xp {
			gap: 3.25rem;
			grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
			padding-top: 3.25rem;
			border-width: 0;

			.tech {
				text-align: left;
			}
		}
	}
}

@media (min-width: 1440px) {
	.grid {
		&.xp {
			gap: 3.625rem;
			padding-top: 4.5rem;
		}
	}
}