---
import FeaturedProjectsSection from './FeaturedProjectsSection.astro';
import LiveProjectsSection from './LiveProjectsSection.astro';
import DemoProjectsSection from './DemoProjectsSection.astro';
---

<article id="projects">
  <div class="inner">
    <FeaturedProjectsSection />
    <LiveProjectsSection />
    <DemoProjectsSection />
  </div>
</article>
