.featured-card {
    display: grid;
    grid-template-areas:
        'image'
        'info';

    &__image {
        grid-area: image;
        background-color: #fff;
        border-radius: 4px;
        width: 100%;
        aspect-ratio: 16/9;
        margin-bottom: 1rem;
        // position: relative;
        z-index: 1;
        overflow: hidden;
    }

    &__info {
        grid-area: info;
        background-color: rgba(#fff, .02);
        padding: 2rem;
        border-radius: 4px;
        position: relative;
        z-index: 2;
    }

    &__title {
        font-size: var(--fs-m);
        color: var(--clr-a-100);
        margin-bottom: .5rem;
    }

    &__skills,
    &__links {
        padding: 0;
        list-style: none;
    }

    &__links {
        display: flex;
        gap: 1rem;
        font-size: 1.5rem;
        margin-top: 1.5rem;

        a {
            transition: var(--trans-dur);

            &:hover {
                color: var(--clr-a-100);
            }
        }
    }

    .skills {
        font-size: .75rem;
        display: flex;
        gap: 2rem;

        span {
            position: relative;

            &::after {
                position: absolute;
                content: '/';
                right: -1rem;
            }

            &:last-of-type {
                &::after {
                    display: none;
                }
            }
        }
    }
}


@media (min-width: 1100px) {

    .featured-card {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'image info';
        gap: 2rem;
        align-items: center;

        &__image {
            transition: all var(--trans-dur);
            position: relative;
            z-index: 1;
            margin-bottom: unset;
        }

        &__info {
            margin-left: -3rem;
            padding-left: 4rem;
            text-align: right;
        }

        .skills,
        &__links {
            justify-content: end;
        }

        &:nth-child(even) {
            grid-template-areas:
                'info image';

            .featured-card__info {
                margin-left: unset;
                margin-right: -3rem;
                padding-left: 2rem;
                padding-right: 4rem;
                text-align: left;
            }

            .skills,
            .featured-card__links {
                justify-content: start;
            }
        }
    }
}