h1,
.h1,
h2,
.h2,
h3,
.h3 {
	color: var(--clr-n-400);
}

h1,
.h1 {
	// font-size: clamp(var(--fs-s), 10cqi, var(--fs-xl));
	line-height: var(--lh-xl);

	font-size: clamp(1.5rem, 10cqi, 5rem);
}

h2,
.h2 {
	// font-size: clamp(var(--fs-m), 5vw + 1rem, var(--fs-l));
	line-height: var(--lh-l);

	font-size: clamp(1.25rem, 5cqi, 2rem);
}

a {
	color: inherit;
}

body {
	font-size: 1.125rem;
	background-color: hsl(153, 71%, 6%);
}

.eyebrow {
	position: relative;
	margin-bottom: 2rem;

	&::before {
		position: absolute;
		left: 0;
		top: -10px;
		width: 3rem;
		height: 3px;
		background-color: var(--clr-a-100);
		content: '';
	}
}

p {
	max-width: 65ch;

	+p {
		margin-top: 2rem;
	}
}